@model HomeViewModel
@{
    ViewBag.Title = "獲利試算";
}
@section header {
    @Styles.Render("~/Content/pages/join/calculate.min.css")
}
@section metatags {
    @Html.Action("GetMetaByType", "Base", new { id = 6 })
}


<div class="page-container">
    <div class="page-kv" data-aos="bg-scale">
        <h1 class="page-kv--title" data-aos="fade-down" data-aos-delay="400">獲利試算</h1>
        <img src="@Url.Content("~/Content/images/title_font_CALCULATE.svg")" alt="CALCULATE" class="page-kv--img" data-aos="fade-up" data-aos-delay="200">
    </div>
    <div class="page-content">
        <div class="breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="@System.Configuration.ConfigurationManager.AppSettings["Url"]/Home/" href="@Url.Content("~/Home/")">
                            <span itemprop="name"><img src="@Url.Content("~/Content/images/bread_home_icon.svg")" alt="首頁"></span>
                        </a>
                        <meta itemprop="position" content="1" />
                    </li>
                    <li class="breadcrumb-item" aria-current="page" itemprop="itemListElement" itemscope
                        itemtype="http://schema.org/ListItem">
                        <a itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="@System.Configuration.ConfigurationManager.AppSettings["Url"]/Join/" href="@Url.Content("~/Join/")">
                            <span itemprop="name">投資專案</span>
                        </a>
                        <meta itemprop="position" content="2" />
                    </li>
                    <li class="breadcrumb-item active" aria-current="page" itemprop="itemListElement" itemscope
                        itemtype="http://schema.org/ListItem">
                        <a itemscope itemtype="http://schema.org/Thing" itemprop="item" >
                            <span itemprop="name">獲利試算</span>
                        </a>
                        <meta itemprop="position" content="3" />
                    </li>
                </ol>
            </nav>
        </div>
        @{
            Html.RenderPartial("~/Views/Shared/_Calculate.cshtml", Model);
        }
    </div>
    <div class="join-step-container">
        <h3 class="join-title">簡單3步驟&nbsp;認購超簡單</h3>
        <div class="join-step">
            <div class="join-step-item join-step-item--1" data-aos="fade-up" data-aos-delay="0" data-ancher=".join-step">
                <div class="join-step-item--bg"></div>
                <p class="join-step-item--num">1</p>
                <img src="@Url.Content("~/Content/images/calculate_icon01.svg")" alt="" class="join-step-item--icon">
                <p class="join-step-item--title">註冊會員</p>
            </div>
            <div class="join-step-item join-step-item--2" data-aos="fade-up" data-aos-delay="100" data-ancher=".join-step">
                <div class="join-step-item--bg"></div>
                <p class="join-step-item--num">2</p>
                <img src="@Url.Content("~/Content/images/calculate_icon02.svg")" alt="" class="join-step-item--icon">
                <p class="join-step-item--title">選擇電廠</p>
            </div>
            <div class="join-step-item join-step-item--3" data-aos="fade-up" data-aos-delay="200" data-ancher=".join-step">
                <div class="join-step-item--bg"></div>
                <p class="join-step-item--num">3</p>
                <img src="@Url.Content("~/Content/images/calculate_icon03.svg")" alt="" class="join-step-item--icon">
                <p class="join-step-item--title">ATM支付</p>
            </div>
            <div class="join-step-item join-step-item--4" data-aos="fade-up" data-aos-delay="300" data-ancher=".join-step">
                <div class="join-step-item--bg"></div>
                <p class="join-step-item--num">4</p>
                <img src="@Url.Content("~/Content/images/calculate_icon04.svg")" alt="" class="join-step-item--icon">
                <p class="join-step-item--title">每月享受分潤</p>
            </div>
        </div>
    </div>
</div>