@model HomeViewModel
@{
    ViewBag.Title = "會員條款";
}
@section header{
    @Styles.Render("~/Content/pages/home/privacy.min.css")
}
@section metatags {
    @Html.Action("GetMetaByType", "Base", new { id = 1 })
}


<div class="page-container">
    <div class="page-kv">
        <h2 class="page-kv--title">@ViewBag.Title </h2>
    </div>
    <div class="page-content">
        <div class="breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                        itemtype="http://schema.org/ListItem">
                        <a itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="@System.Configuration.ConfigurationManager.AppSettings["Url"]/Home/" href="@Url.Content("~/Home/")">
                            <span itemprop="name">
                                <img src="@Url.Content("~/Content/images/bread_home_icon.svg")" alt="首頁">
                            </span>
                        </a>
                        <meta itemprop="position" content="1" />
                    </li>
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                        itemtype="http://schema.org/ListItem">
                        <a itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="@System.Configuration.ConfigurationManager.AppSettings["Url"]/Home/Privacy" href="@Url.Content("~/Home/Privacy")">
                            <span itemprop="name">相關條款</span>
                        </a>
                        <meta itemprop="position" content="2" />
                    </li>
                    <li class="breadcrumb-item active" aria-current="page" itemprop="itemListElement" itemscope
                        itemtype="http://schema.org/ListItem">
                        <a itemscope itemtype="http://schema.org/Thing" >
                            <span itemprop="name">@ViewBag.Title</span>
                        </a>
                        <meta itemprop="position" content="3" />
                    </li>
                </ol>
            </nav>
        </div>
        <div class="law-container">
            <div class="law-tag-container">
                <ul class="law-tag">
                    <li class="law-tag--item ">
                        <a href="@Url.Content("~/Home/Privacy")">隱私權保護及資訊安全政策</a>
                    </li>
                    <li class="law-tag--item active">
                        <a href="@Url.Content("~/Home/Membership")">會員條款</a>
                    </li>
                </ul>
            </div>
        </div>
        <article class="article">
            <h1 class="article-title">會員服務條款</h1>
            <div class="article-content">
                <p class="text-lg text-blue">壹、網站概述</p><br>
                歡迎您加入成為中租全民電廠(以下稱中租全民電廠或本網站)的會員，並使用本網站所提供之各項服務(以下稱本服務)，中租全民電廠係由「中租雲端服務股份有限公司」(以下稱中租雲端)所建置提供。本服務僅向符合中華民國法令規定及符合本會員服務條款(以下稱本服務條款)之特定會員提供。<br>
                <br>
                <p class="text-lg text-blue">貳、服務條款之確認與同意</p><br>
                當您註冊完成或您開始使用本服務時，即視為您已閱讀、瞭解並同意接受本服務條款之所有內容，中租雲端有權隨時修改本服務條款，修改後之服務條款於本網站刊出後立即生效，中租雲端不另作個別通知。若您於修改之服務條款刊出後仍繼續使用本服務，即視為您已閱讀、瞭解並同意您接受本服務條款之修改。您使用本服務時您並應遵守中華民國法令(包含民法、個人資料保護法等)、網際網路規定與慣例。<br>
                本網站將對申請加入會員者進行實名審查，如有不符、違反本服務條款或有違反之虞者，本網站得逕行拒絕其註冊申請、取消其會員帳號並得終止其使用本服務之資格與權利。<br>
                <br>
                <p class="text-lg text-blue">參、名詞定義</p><br>
                一、會員<br>
                凡欲於本網站參與太陽能電廠專案計畫之認購、參與二手太陽能板交易(以下稱二手交易)，或使用本網站之其他服務，而於本網站提出會員之註冊申請，經中租雲端審核通過而可使用本服務之人。<br>
                <br>
                二、認購者<br>
                認購者，係指經申請成為本網站之會員後，同意參與太陽能電廠專案計畫之認購，依專案計畫之內容進行買賣等各類型交易，並支付價金及相關費用，一旦合約成立生效，即因此依法律及專案計畫內容取得及負擔權利義務(例如：取得所買受之物件、按期收取售電收入等權利及支付交易價金、屋頂租金、維運管理費、保險費、服務費等義務)之人。<br>
                <br>
                三、二手交易出售者<br>
                二手交易出售者，係指原為認購人，已認購中租全民電廠之太陽能電廠專案，後因故欲出售其持有之太陽能板及其附屬設備及售電權益。中租全民電廠平台僅提供二手交易資訊露出，並不介入其中交易過程，亦不為任何交易進行擔保或代為決定售價。<br>
                <br>
                四、專案計畫<br>
                係由中租全民電廠提供並刊登於本網站之物件銷售等各類交易計畫。<br>
                <br>
                五、認購申請<br>
                認購者同意申請參加專案計畫，並依循本服務條款之規定、專案計畫內容及本網站之資訊與交易流程，於本網站指示之約定期間內支付款項。已完成認購申請者，除因專案計畫失敗或本服務條款約定之事由，不得取消認購之申請。完成認購之申請，即代表專案計畫之合約或其法律關係成立生效。<br>
                <br>
                六、專案成功<br>
                當一專案計畫完成認購申請之金額達到專案計畫所需之目標金額，除本服務條款、專案計畫內容或合約另有約定外，則該專案計畫視為成功。如該專案計畫因故失敗(例如該專案計畫完成認購申請之金額未達到專案計畫所需目標金額)或於本服務條款、專案計畫內容另有約定，則本網站得逕行取消該專案計畫，並於扣除匯款手續費後將該次認購申請金額返還該專案計畫之認購者。<br>
                <br>
                七、二手交易<br>
                二手交易出售者於符合本網站資訊、本網站流程、本服務條款及相關合約之約定，且受讓人亦同意成為本網站具有認購權限之會員並同意合約之約定，經通知中租雲端且經中租雲端審核通過者，二手交易出售者需交寄「轉讓同意書」，經交易雙方簽名蓋章後，以正本寄至中租全民電廠客服信箱(台北市內湖區瑞光路362號)，經中租全民電廠確認後，則該合約之權利義務將轉讓予受讓人。<br>
                <br>
                <p class="text-lg text-blue">肆、服務條款一般約定</p><br>
                一、提供資料應擔保真實無誤<br>
                認購者需自行保證於本網站所提供之資料均為正確、最新、完整且符合真實之資料，且無不實、偽造、變造、刻意冒用他人名義、虛偽、詐騙、侵害他人之姓名權、公司名稱、商標或有其他違反法令之虞，倘有違反本服務條款、本網站資訊或違反法令之情形或之虞者，中租雲端有權自行判斷並隨時逕行拒絕您的註冊申請、取消您的會員帳號、限制、暫停或終止您使用本服務之資格與權利或取消、下架、暫停或終止該專案計畫，認購者應自負一切民事、刑事或行政之法律責任。<br>
                <br>
                二、帳戶密碼保管及通知義務<br>
                本網站相關服務及通知，係以本網站或電子郵件方式進行，您於本網站之會員帳號不可轉讓，且您使用本服務時，應對您於本網站設定之帳號、密碼及其他相關資料負保密及維護其安全之義務，不得洩露或提供給第三人知悉、或由第三人使用之，亦不可使用其他任何人之帳號或密碼。您亦不得利用本網站帳號及會員資格從事任何違法或侵害他人權益之行為，中租雲端有權自行判斷，如有違反本服務條款、違反法令或侵害本網站或他人權益之情形或有此類情形之虞者，中租雲端即可逕行限制、暫停或終止您使用本服務之資格與權利，並得取消您的會員帳號。凡以該帳號或密碼進入本網站或使用本服務之所有行為，包括登入、查詢、閱覽、更改個人資料、參與各項交易或活動暨取得相關資訊，以及所有涉及會員權益之類似行為等，均視為您本人之行為。<br>
                <br>
                三、違反服務條款責任<br>
                當您使用本網站及本服務時，您應遵守法令、本網站之資訊、流程以及本服務條款之內容，如您有影響、干擾或妨礙本網站之正常運作或認購之進行、違反法令、違反本網站之資訊或流程、違反本服務條款或有違反之虞時，中租雲端有權自行判斷並隨時逕行拒絕您的註冊申請、取消您的會員帳號、限制、暫停或終止您使用本服務之資格與權利或將取消、下架、暫停或終止該專案計畫，且得逕行自向司法機關舉報之，您應自負一切民事、刑事與行政之法律責任，如造成中租雲端或任何第三人損害並應負賠償責任。<br>
                <br>
                四、本服務系統故障處理及資料保密<br>
                中租雲端以專業服務維持網站服務可用性及保密性，惟本網站系統仍可能暫停服務或發生故障情事，不擔保服務可用性，對於服務中斷而使您無法即時參與認購或二手交易之聯絡事宜，中租雲端不負擔任何損害賠償責任；中租雲端保存您之資料，如主管機關依法調閱或須提供予使用本網站服務人員進行稅務扣繳或申報者，中租雲端將配合提供。<br>
                <br>
                <p class="text-lg text-blue">伍、會員資格與註冊</p><br>
                一、會員資格<br>
                中華民國國民均得申請註冊成為本網站會員，惟中租雲端保留最終核准與否之權利。每人限申請一會員帳號。<br>
                <br>
                二、會員註冊及審核<br>
                當您至本網站註冊網頁申請加入成為會員，已閱讀、瞭解並同意中租雲端網站隱私權保護及資訊安全政策，並聲明及保證於申請註冊為會員時，所提供之個人資料，包括但不限於姓名、出生年月日、身分證字號、金融機構帳戶（下合稱「會員資料」），均為真實、正確、最新且完整，且同意隨時保持其真實、正確、最新及完整之狀態，您的個人資料事後如有變更，應立即至本網站更新之，不得以資料不符或錯誤為理由，否認交易行為或拒絕付款，如因未立即更新所衍生之損害或不利益，將由您自行負責。<br>
                為核對會員資料，且為防止洗錢及詐騙案件產生，您應依本網站之要求與流程提供身分證明文件以茲證明，如您為自然人，您須提供及上傳您的身分證正反面之影像檔案及您本人之金融機構帳戶存摺封面之影像檔案予中租雲端，中租雲端有權自行或委託合作機構進行您的身分驗證、徵信及審核，中租雲端亦得依實際情況蒐集您的徵信資料或財力證明等，若您提供資料有重複、不實、偽造、變造、刻意冒用他人名義、原所提供之資料已不符合真實、侵害他人之姓名權、公司名稱、商標或有其他違反法令之虞者，中租雲端有權隨時逕行拒絕您的註冊申請、取消您的會員帳號、暫停或終止您使用本服務之資格與權利，您應自負一切民事、刑事與行政之法律責任。<br>
                <br>
                <p class="text-lg text-blue">陸、服務內容</p><br>
                一、提供太陽能電廠認購資訊<br>
                將提供每一太陽能電廠相關專案計畫資訊刊登於本網站，提供予認購者評估及審視，進而使認購者依專案計畫完成交易。<br>
                <br>
                二、金流服務<br>
                中租全民電廠提供信託帳戶供認購人繳款，並於專案全體認購人到齊且完成繳款後，撥付款項電廠出售人(即出售太陽能電廠的建置商)。每期獲得之售電收益，亦會在扣除屋頂租金、保險、維運管理等費用後，依比例撥付至認購人指定之銀行帳戶。<br>
                <br>
                三、認購者<br>
                為使專案計畫及債權債務合約能順利進行，就代理簽約、資金交付、報酬分配、權利移轉與合約管理等，均由本網站協助完成。<br>
                1. 中租雲端有權向認購者收取約定的市集服務費。收費標準參閱本網站之各電廠專案內容或公告。<br>
                2. 認購流程：(1)註冊及認證；(2)選擇特定專案認購；(3)支付款項完成認購。<br>
                3. 認購者於線上同意專案計畫認購申請後，須在各專案計畫約定之工作天內(以下稱應匯入期間)，將申請認購之金額匯入中租雲端指定的信託帳戶，方為完成認購；否則視為自動放棄該筆認購。<br>
                4. 認購取消<br>
                (1)在應匯入期間內，認購者應匯入的總金額若尚未入帳，則認購者可在線上取消認購；逾期未匯入者，中租雲端將逕自取消該認購申請及資格。<br>
                (2)在應匯入期間內，當認購者完成匯入認購金額後，認購者不得取消認購申請及資格。<br>
                (3)其他狀況亦不得取消認購申請及資格。<br>
                5. 認購者匯入金額入帳與否請參考本網站上顯示資訊，惟以中租雲端帳戶實際收迄為準。<br>
                6. 合約<br>
                目前會員購買電廠所簽署的合約均為電子合約，於線上交易「同意合約」時即成立。認購前請詳閱各專案內容附件說明及相關合約。<br>
                <br>
                <p class="text-lg text-blue">柒、金流處理</p><br>
                一、帳戶管理<br>
                認購者參與認購太陽能電廠專案計畫後，需於指定時限內完成匯款至指定之信託帳戶。待專案全體認購人到齊後，中租全民電廠始將款項撥付給電廠出售人。<br>
                <br>
                二、金流交付方式<br>
                1. 認購金額：認購者需於指定時限內完成匯付認購款項至指定信託帳戶，若逾期未繳款則視同放棄該筆認購權益。<br>
                2. 售電收益：認購人所獲取之售電收益，將依各專案約定，扣除屋頂租金、保險、維運管理、市集服務費等費用後，撥付至認購人申請會員時所提供之銀行帳戶。<br>
                <br>
                <p class="text-lg text-blue">捌、服務收費</p><br>
                認購太陽能電廠後，每期電費撥付皆依約定扣除給付給中租雲端之市集服務費等各項相關費用，具體收費規則請參考各專案計畫之公告(各專案合約文件之「附件一、專案內容」)。<br>
                <br>
                <p class="text-lg text-blue">玖、風險提示</p><br>
                一、專案計畫成功後，太陽能板所有權歸認購者所有，惟電能躉售尚需於經濟部完成再生能源設備登記，如後續因故無法完成設備登記之電能躉售程序，則專案取消，將通知認購者解除本專案計畫之相關合約，太陽能板所有權回復由電廠出售人所有，並於扣除匯款手續費後將出資者就專案計畫已給付之認購金額返還予認購者，且不因此事由解除契約而負擔賠償責任；而完成設備登記之電能躉售程序後，縱有經濟部依「再生能源發展條例」提供已固定費率購電20年之相關規定，惟購買之太陽能板後續發電仍有一定之風險(包括但不限於政府政策或法令之變更等)，購買前請詳閱相關資料並審慎評估。<br>
                <br>
                二、就發電度數與售電報酬之所有預估，係以過去電廠經營之經驗為基礎，均僅供參考，實際發電量受日照強度、時間等因素影響而浮動，任何人均無法保證發電度數與售電報酬，亦不保證太陽能板永不受損或不受任何天災地變影響，電費仍依實際之發電度數計算。
                三、二手交易公佈欄，中租全民電廠僅提供資訊揭露，不介入其中交易過程、不代為議定價格、亦不為任一方交易進行媒合或擔保負責。<br>
                <br>
                <p class="text-lg text-blue">壹拾、提醒條款</p><br>
                您若已完成註冊，將可依相關條款及約定利用本服務，無償或有償享受本服務。當您進行認購行為，即表示您明瞭本服務中的專案計畫內容及相關資訊，並清楚知道所有專案之線上電子合約，於線上交易「同意合約」時即成立；中租雲端僅提供二手交易公佈欄僅之資訊揭露平台，並不保證其內容之真實性，亦不介入任何中間交易媒合過程、亦不代為保證任何事項，如交易相對人間因為專案及其他相關資訊、或在交易履行過程中發生爭議，中租雲端不負任何責任。<br>
                認購者應自行擔保所提供之資料與資訊內容均正確無誤且無虛偽不實，並應審慎評估專案計畫之資料及內容、自身財務狀況及風險承擔能力；如有廠商在本網站置放服務及與外部連結之內容，與中租雲端無關且不負責。如有可歸責中租雲端之事由，造成您受有損失者，中租雲端之賠償僅以中租雲端本身所收取之服務費用(不包含代收轉付的部分)為上限。<br>
                <br>
                <p class="text-lg text-blue">壹拾壹、稅費負擔</p><br>
                認購者收取之報酬或收益等(如電費收益或其他類型收入)應依法納稅，中租雲端或受您委託管理、維運的公司將視法令之規定，進行扣繳。相關稅務申報、繳納事宜仍由認購者自行負責。<br>
                <br>
                <p class="text-lg text-blue">壹拾貳、管轄法院及準據法</p><br>
                您與中租雲端如因使用本網站所生之爭議，您與中租雲端同意以臺灣士林地方法院為第一審管轄法院，並以中華民國法律為準據法。<br>
                <br>
                <p class="float-right">
                    最新發布日期：中華民國110年02月25日<br>
                    首次發布日期：中華民國106年09月07日<br>
                </p>
            </div>
        </article>
    </div>
</div>