@model HomeViewModel
@{
    ViewBag.Title = "隱私權保護及資訊安全政策";
}
@section header{
    @Styles.Render("~/Content/pages/home/privacy.min.css")
}
@section metatags {
    @Html.Action("GetMetaByType", "Base", new { id = 1 })
}


<div class="page-container">
    <div class="page-kv">
        <h2 class="page-kv--title">@ViewBag.Title </h2>
    </div>
    <div class="page-content">
        <div class="breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                        itemtype="http://schema.org/ListItem">
                        <a itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="@System.Configuration.ConfigurationManager.AppSettings["Url"]/Home/" href="@Url.Content("~/Home/")">
                            <span itemprop="name"><img src="@Url.Content("~/Content/images/bread_home_icon.svg")"
                                alt="首頁"></span>
                        </a>
                        <meta itemprop="position" content="1" />
                    </li>
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                        itemtype="http://schema.org/ListItem">
                        <a itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="@System.Configuration.ConfigurationManager.AppSettings["Url"]/Home/Privacy" href="@Url.Content("~/Home/Privacy")"> 
                            <span itemprop="name">相關條款</span>
                        </a>
                        <meta itemprop="position" content="2" />
                    </li>
                    <li class="breadcrumb-item active" aria-current="page" itemprop="itemListElement" itemscope
                        itemtype="http://schema.org/ListItem">
                        <a itemscope itemtype="http://schema.org/Thing" itemprop="item" >
                            <span itemprop="name">@ViewBag.Title</span>
                        </a>
                        <meta itemprop="position" content="3" />
                    </li>
                </ol>
            </nav>
        </div>
        <div class="law-container">
            <div class="law-tag-container">
                <ul class="law-tag">
                    <li class="law-tag--item active">
                        <a href="@Url.Content("~/Home/Privacy")">隱私權保護及資訊安全政策</a>
                    </li>
                    <li class="law-tag--item ">
                        <a href="@Url.Content("~/Home/Membership")">會員條款</a>
                    </li>
                </ul>
            </div>
        </div>
        <article class="article">
            <h1 class="article-title">中租全民電廠隱私權政策和使用條款</h1>
            <div class="article-content">
                中租雲端服務股份有限公司(以下稱「中租雲端」)十分重視您的隱私權，為了強化個人資料保護並保障您的權利，特訂定中租全民電廠網站(以下稱「本網站」)的隱私權保護及資訊安全政策，請您詳閱以下事項：<br>
                <br>
                當您使用本網站各項服務(包括但不限於瀏覽本網站、參加本網站活動、申請加入本網站會員及進行線上交易等)時，中租雲端為承辦及提供本網站各項服務，依本政策蒐集、處理與利用您所提供之個人資料。<br>
                <br>
                壹、蒐集個人資料之目的<br>
                蒐集個人資料之目的（依據法務部公告之「個人資料保護法之特定目的及個人資料之類別」詳列如下，代號及項目嗣後經法務部公告變更，亦隨同變更之）包括：<br>
                020代理與仲介業務、024民意調查、040行銷、052成員名冊之內部管理、063非公務機關依法定義務所進行個人資料之蒐集處理及利用、069類似契約或其他法律關係事務、072政令宣導、081個人資料之合法交易業務、090消費者、客戶管理與服務、091消費者保護、104帳務管理及債權交易業務、135資(通)訊服務、136資(通)訊與資料庫管理、137資通安全與管理、148網路購物及其他電子商務服務、152廣告或商業行為管理、154徵信、157調查、統計與研究分析、176其他自然人基於正當性目的所進行個人資料之蒐集處理及利用、181其他經營合於營業登記項目或組織章程所定之業務、182其他諮詢與顧問服務。<br>
                <br>
                貳、蒐集個人資料之類別<br>
                蒐集個人資料之類別（依據法務部公告之「個人資料保護法之特定目的及個人資料之類別」詳列如下，代號及項目嗣後經法務部公告變更，亦隨同變更之）包括：<br>
                <br>
                C001辨識個人者：會員之姓名、職稱、帳號、通訊住址、戶籍地址、工作地址、電話號碼、即時通帳號、網路平台申請之帳號、電子郵件地址、相片、電子簽章、提供網路身分認證或申辦查詢服務之紀錄(如會員註冊時間、IP位址、瀏覽器種類、網頁瀏覽軌跡紀錄、Cookies)及其他任何可辨識資料為本人者等資訊。<br>
                C002辨識財務者：如信用卡或轉帳帳戶。<br>
                C003政府資料中之辨識者：如身分證字號或護照號碼(外國人)。<br>
                C011個人描述：如年齡、性別、出生年月日、國籍等。<br>
                C021家庭情形：如結婚有無、配偶或同居人之姓名、結婚日期、子女之人數等。<br>
                C024其他社會關係：如：朋友、同事及其他除家庭以外之關係等。<br>
                C031住家及設施：如住所地址、所有或承租、住用之期間等。<br>
                C032財產：如所有之動產或不動產等。<br>
                C038職業：各種職業。<br>
                C052資格或技術：學歷資格、專業執照等。<br>
                C061現行之受僱情形：僱主、工作職稱、受僱之條件及期間等。<br>
                C068薪資與預扣款：薪水、工資等。<br>
                C081收入、所得、資產與投資：例如總收入、總所得等。<br>
                C082負債與支出：支出總額、本票等信用工具支出等。<br>
                C083信用評等：財務狀況與等級等。<br>
                C084貸款：貸款類別、擔保之細節等。<br>
                C086票據信用：退票資料、拒絕往來資料等。<br>
                C093財務交易：收付金額、支付方式、往來紀錄等。<br>
                C101資料主體之商業活動：商業種類、提供或使用之財貨或服務等。<br>
                C102約定或契約：關於交易、商業、法律或其他契約、代理等。<br>
                註：為防止洗錢及詐騙案件產生，對於徵信資料或財力證明等，中租雲端將依實際情況蒐集。<br>
                <br>
                參、個人資料利用之期間、地區、對象及方式<br>
                您使用中租雲端網站服務時，因網路平台管理作業所必須，將依期間、地區、對象及方式利用您所提供之個人資料，如下：<br>
                <br>
                期間：中租雲端營運期間內。<br>
                地區：中華民國境內、境外（主管機關禁止者不在此限）。<br>
                對象：中租雲端、受中租雲端委託或提供本網站各項服務必要範圍內中租雲端之關係企業及合作廠商。<br>
                方式：符合法令規定範圍之利用，包括以自動化機器或其他非自動化方式之蒐集、處理與利用(例如使用電子文件、紙本或其他合於當時科學技術之適當方式等)。<br>
                肆、個人資料之保護<br>
                中租雲端會將您的個人資料，以嚴密保護措施完整保存於我們的資料儲存系統中，並受到妥善的維護，防止未經授權人員接觸，以保障您的個人資料不會被不當取得或破壞。中租雲端管理人員均受過完整資訊保密教育，如有違反保密義務者，將受相關法律及公司內部規定之處分。<br>
                如因業務需要有必要委託第三人提供服務時，中租雲端亦會嚴格要求其遵守保密義務，並且採取必要檢查程序以確定其將確實遵守。<br>
                本網站的網頁可能提供其他網站的網路連結，您也可經由本網站所提供的連結，點選進入其他網站，這些連結網站可能蒐集您的個人資料，並有其各自的隱私權保護政策，本政策不適用於這些連結網站及其資料處理措施。<br>
                請妥善保管您的密碼及或任何個人資料，不要將任何個人資料，尤其是密碼提供給任何人。並請在您於本網站完成您所欲執行之程序或動作後，務必記得登出帳戶，若您是與他人共享電腦或使用公共電腦，切記要關閉瀏覽器視窗，以防止他人讀取您的個人資料或信件。<br>
                <br>
                伍、個人資料揭露對象<br>
                中租雲端絕對不會任意傳輸、出售、交換或以其他變相之方式，將您的個人資料揭露與其他團體或個人。惟有下列情形，中租雲端會與第三人共用您的個人資料：<br>
                <br>
                經過您的同意時。<br>
                司法單位、其他政府機關組織或其他依法有權之人經合法正式的程序要求時。<br>
                中租雲端如有處理借貸行為與提供借貸仲介服務之需求，在處理過程中須將您的個人資料提供給中租雲端所配合之專業徵信公司與專業催收公司等，作為目的範圍內之使用。<br>
                為提供其他服務或權益而須與提供該服務或權益之第三人共用您的個人資料時，將向您充分說明，您可自由選擇是否接受該服務或使用該權益。<br>
                陸、依法得行使之權利與方式<br>
                依據個人資料保護法規定，您可要求行使查詢、閱覽、請求製給複製本、請求補充更正、請求停止蒐集、處理或利用及刪除您的個人資料。為保障您的個人資料安全，行使前開權利時，須由本人向中租雲端檢具身份證明文件提出申請，中租雲端並得單筆收取作業處理費新台幣150元。中租雲端得依個人資料保護法第10條、第11條規定、執行業務所必須及法定保存期間等因素考量，決定是否接受您的申請。相關申請資料提供之方式、處理期限、查詢費用等事項，均依法令及中租雲端之相關規定辦理。<br>
                <br>
                柒、Cookie之使用<br>
                為了方便您的使用及提供您更佳的服務，本網站會在您的電腦中寫入並讀取Cookie(即藉由瀏覽器在您電腦中所儲存之資訊)，若您不願接受Cookie的寫入，您可在您使用的瀏覽器功能項中設定隱私權等級為高，即可拒絕Cookie的寫入。但可能會導致本網站某些功能無法正常執行。<br>
                <br>
                捌、不提供個人資料對權益之影響<br>
                您得自由選擇同意或不同意提供上開個人資料，若您拒絕提供或提供之資料不足或有誤，中租雲端將可能無法受理您使用者資格、本網站各項服務之申請或無法提供您完整的服務。<br>
                <br>
                玖、個資保護諮詢與修正<br>
                如果您對於中租雲端的隱私權保護及資訊安全政策或是有個人資料之蒐集、處理、利用、更新及權利行使等問題，請於本網站的「聯絡我們」中留下您的聯絡資料與問題內容，我們會儘速與您連絡。<br>
                本網站之隱私權保護及資訊安全政策將因應需求隨時進行修改，並於修改後，得以言詞、書面、電話、簡訊、電子郵件、傳真、電子文件（包括以前述方式告知提供詳載本告知書內容之網站連結）、刊登於本網站上或其他足以使您知悉或可得知悉之方式告知您修修改內容。建議您定期閱讀本隱私權保政策，以瞭解最新內容。<br>
                <br>
                生效日期：中華民國2021年02月25日起<br>
            </div>
        </article>
    </div>
</div>