@model NewsViewModel
@{
    ViewBag.Title = "最新消息";
}
@section header{
    @Styles.Render("~/Content/pages/news/index.min.css")
}
@section metatags {
    @Html.Action("GetMetaByType", "Base", new { id = 3 })
}

<div class="page-container">
    <div class="page-kv" data-aos="bg-scale">
        <h2 class="page-kv--title" data-aos="fade-down" data-aos-delay="400">@ViewBag.Title </h2>
        <img src="@Url.Content("~/Content/images/title_font_NEWS.svg")" alt="NEWS" class="page-kv--img" data-aos="fade-up" data-aos-delay="200">
    </div>
    <div class="page-content">
        <div class="breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="@System.Configuration.ConfigurationManager.AppSettings["Url"]/Home/" href="@Url.Content("~/Home/")">
                            <span itemprop="name"><img src="@Url.Content("~/Content/images/bread_home_icon.svg")" alt="首頁"></span>
                        </a>
                        <meta itemprop="position" content="1" />
                    </li>
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="@System.Configuration.ConfigurationManager.AppSettings["Url"]/Home/Abort" href="@Url.Content("~/Home/About")">
                            <span itemprop="name">認識電廠專家</span>
                        </a>
                        <meta itemprop="position" content="2" />
                    </li>
                    <li class="breadcrumb-item active" aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemscope itemtype="http://schema.org/Thing" itemprop="item">
                            <span itemprop="name">@ViewBag.Title</span>
                        </a>
                        <meta itemprop="position" content="3" />
                    </li>
                </ol>
            </nav>
        </div>
        <div class="article-class-container">
            <div class="custom-select">
                @Html.DropDownListFor(m => m.SubType_SelectList, Model.SubTypeSelectList, new { @class = "select-article-class" })
            </div>
        </div>
        <div class="article-container">
            @* TODO: 文章資料放在article-data中, 各別文章架構為article-item, 依照文章類型渲染 *@
            @* TODO:
                .article-item-source--class 有要分別加class, 與置換內容
                class-1: 系統公告,
                class-2: 會員公告,
                class-3: 最新消息
            *@
            <div class="article-data" id="article-data-id">
                @{
                    Html.RenderPartial("ArticleList");
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

    var populate = new scrollingendless(function (callback) {
        LoadNewsArticle(true,callback);
    });

    $(function () {
        Init();
        populate.start();
    });

    function Init() {
        $('#SubType_SelectList').val("@Model.ListType");
        function logElementEvent(eventName, element) {
            console.log(
                Date.now(),
                eventName,
                element.getAttribute("data-bg")
            );
        }

        var callback_finish = function () {
            logElementEvent("✔️ FINISHED", document.documentElement);
        };

        lazy = new LazyLoad({
            elements_selector: "[data-lazy='true']",
            threshold: 0,
            // Assign the callbacks defined above
            //callback_enter: callback_enter,
            //callback_exit: callback_exit,
            //callback_reveal: callback_reveal,
            //callback_loaded: callback_loaded,
            //callback_error: callback_error,
            callback_finish: callback_finish
        });
    }
    //加載文章列表功能
    function LoadNewsArticle( cond, callback) {

        var viewcount = 0;
        var articleCount = $('#article-data-id>article').length;
        viewcount = articleCount + @Chailease.SolarEnergy.Web.ViewModel.NewsViewModel.VIEW_COUNT_INTERVAL;

        //文章類別選取
        var selectedvalue = $("#SubType_SelectList").val();
        if ($("#load_next").length > 0 ) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ArticleList")',
                data: { catagory: selectedvalue, datacount: viewcount },
                beforeSend: function () {
                    if (cond) {
                        $("#loadingContainer").fadeIn(100);
                        $("body").css("overflow", "hidden");
                    }
                    $("#load_next").remove();
                }, timeout: 10000,
                success: function (data) {
                    $("#article-data-id").append(data);
                    if (cond) {
                        $("#loadingContainer").fadeOut(300);
                        $("body").css("overflow", "auto");
                    }
                    if ($("#load_next").length > 0) {
                        if (callback)
                            callback();
                    }
                    lazy.update();
                },
                error: function (errMsg) {
                    if (cond) {
                        $("#loadingContainer").fadeOut(300);
                        $("body").css("overflow", "auto");
                    }
                    showMsg("文章列表加載失敗", "error");
                },
                complete: function (XMLHttpRequest, textStatus) {
                    populate.start();
                    $("#loadingContainer").fadeOut(300);
                    $("body").css("overflow", "auto");
                }
            });
        }
    }

    //切換類別,抓取文章
    $("#SubType_SelectList").change(function () {
        var load_next = "<div id=\"load_next\"></div>";
        $("#article-data-id").empty();
        $("#article-data-id").append(load_next);
        LoadNewsArticle(true);
    });

    </script>
}
